<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <form [formGroup]="signupForm" (ngSubmit)="onSignUp()" class="signup-form">
      <mat-form-field class="full-width-field" appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email"
          matInput
          placeholder="Enter email..."
          formControlName="email"
        >
        <mat-error *ngIf="signupForm.get('email')?.invalid">
          Please enter a valid email address
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-field" appearance="fill">
        <mat-label>Password</mat-label>
        <input type="password"
          matInput
          placeholder="Enter password..."
          formControlName="password"
        >
        <mat-error *ngIf="signupForm.get('password')?.invalid">
          Please enter a valid password
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary">Signup</button>
    </form>
    <div *ngIf="alertMessage" [ngClass]="alertMessage.cssClass" role="alert">
      {{ alertMessage.message }}
    </div>
  </div>
  <div class="col-md-4"></div>
</div>
